.more-icon[data-v-f2eaee8a] {
    position: absolute;
    bottom: .06rem;
    left: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-top: .22rem;
    width: 1.7rem;
    height: .3rem;
    line-height: 1;
    font-size: .12rem;
    font-family: HarmonyOS, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    color: #3778e5;
    text-transform: uppercase;
    white-space: nowrap
}

.home-news-first .more-icon b[data-v-f2eaee8a] {
    position: relative;
    margin-right: .3rem
}

.home-news-first .more-icon b[data-v-f2eaee8a]::after {
    position: absolute;
    bottom: -0.06rem;
    left: 0;
    width: 100%;
    content: "";
    border-bottom: 2px solid #3778e5;
    -webkit-transition: -webkit-transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: -webkit-transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1)
}

.home-news-first .more-icon b[data-v-f2eaee8a]:not(:hover)::after {
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0
}

.home-news-first .more-icon b[data-v-f2eaee8a]:hover::after {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0
}

.home-news-first:hover .home-news-first__title-content[data-v-f2eaee8a] {
    color: #3778e5
}

.home-news-first:hover .home-news-first__banner-img img[data-v-f2eaee8a] {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2)
}

.home-news-list[data-v-f2eaee8a] {
    width: 2rem;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    top: .2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.home-news-list__item[data-v-f2eaee8a] {
    width: .6rem;
    height: .6rem;
    background: #f8f9fb;
    border: 1px solid #c9d0d8;
    text-align: center;
    font-size: .26rem;
    line-height: .6rem;
    color: #dee1e6;
    cursor: pointer;
    -webkit-transition: -webkit-transform 300ms ease-out;
    transition: -webkit-transform 300ms ease-out;
    -o-transition: transform 300ms ease-out;
    transition: transform 300ms ease-out;
    transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center
}

.home-news-list__item--active[data-v-f2eaee8a],
.home-news-list__item[data-v-f2eaee8a]:hover {
    color: #676b73;
    border-color: #676b73;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15)
}

.home-news__wrap[data-v-f2eaee8a] {
    width: 11rem;
    margin: 0 auto;
    height: 100%;
    padding-top: .88rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.home-news-center[data-v-f2eaee8a] {
    width: 100%
}

.home-news-center>a[data-v-f2eaee8a] {
    display: inline-block;
    margin-top: .8rem;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

.home-news-first[data-v-f2eaee8a] {
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

.home-news-first:hover:not(:hover) .more-icon b[data-v-f2eaee8a]::after {
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0
}

.home-news-first:hover .more-icon b[data-v-f2eaee8a]::after {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0
}

.home-news-first[data-v-f2eaee8a],
.home-news-list[data-v-f2eaee8a] {
    -webkit-transition: -webkit-transform 800ms;
    transition: -webkit-transform 800ms;
    -o-transition: transform 800ms;
    transition: transform 800ms;
    transition: transform 800ms, -webkit-transform 800ms;
    -webkit-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms
}

